.titreColonnes {
	border-collapse: collapse;
}

.seance {
	width: 47.8%;
	margin-left: 58px;
	border-collapse: collapse;
}

th {
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: solid 2px black;
}

td {
	border: solid 2px silver;
	padding-left: 9px;
	padding-right: 9px;
}
