.table {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
}

.table .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20%);
}

.table .row > * {
    border-left: 1px solid red;
}

