{% extends "base.twig" %}

{% block css %}
<style>
    h2, h3, p {
        text-align: center;
    }

	h3 {
		margin: 8px 0;
	}

    .select {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        max-width: 300px;
        margin: auto;
    }


</style>
{% endblock %}

{% block contenu %}
    <h2>Bienvenue, {{ user.prenom }} {{ user.nom }} !</h2>

	<div class="select">
		<a class="button" href="utilisateurs.php">Gestion des utilisateurs</a>
		<a class="button" href="evenements.php">Gestion des évènements</a>
		<a class="button" href="groupes.php">Gestion des groupes</a>
		<a class="button" href="modules.php">Gestion des modules</a>
		<a class="button" href="seances.php">Gestion des séances</a>
		<a class="button" href="affectations.php">Gestion des affectations</a>
		<a class="button" href="types_evenement.php">Gestion des types d'évènement</a>
		<a class="button" href="types_seance.php">Gestion des types de séance</a>
	</div>

{% endblock %}
