{% extends "base.twig" %}

{% block css %}
<style>
    h2, p {
        text-align: center;
    }

    .select {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        max-width: 300px;
        margin: auto;
    }


</style>
{% endblock %}

{% block contenu %}
    <h2>Bienvenue, {{ user.getPrenom() }} {{ user.getNom() }} !</h2>
    <p>
        Sélectionnez un de ces boutons pour commencer:
    </p>
    {% if 'A' in user.getRole() %}
<div class="select">
    <!--<a class="button" href="visualisation.php">Etat</a>
    <a class="button" href="saisie.php">Saisie</a>-->
    <a class="button" href="creationGroupe.php">creationGroupe.php</a>
	<a class="button" href="listAffectations.php">listAffectations.php</a>
    <a class="button" href="formAjouterEvenement.php">formAjouterEvenement.php</a>
    <a class="button" href="formAjouterSeance.php">formAjouterSeance.php</a>
    <a class="button" href="listUtilisateurs.php">listUtilisateurs.php</a>
    <a class="button" href="page_listGroupes.php">listGroupes.php</a>
    <a class="button" href="updateUtilisateur.php">updateUtilisateur.php</a>
    <a class="button" href="deconnexion.php">Se déconnecter</a>
    <a class="button" href="listEvenement.php">listeEvenement.php</a>
    <a class="button" href="listTypeEvenement.php">listeTypeEvenement.php</a>


</div>
{%endif%}
{% if 'E' in user.getRole() %}
<div class="select">
    <p>Enseignant</p>


</div>
{%endif%}
{% endblock %}
