{% extends "base.twig" %}

{% block css %}
<style>
    h2, p {
        text-align: center;
    }

    .select {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        max-width: 300px;
        margin: auto;
    }


</style>
{% endblock %}

{% block contenu %}
    <h2>Bienvenue, {{ user.getPrenom() }} {{ user.getNom() }} !</h2>

	<div class="select">

	    <a class="button" href="creationGroupe.php">creationGroupe.php</a>
		<a class="button" href="listAffectations.php">listAffectations.php</a>
	    <a class="button" href="listUtilisateurs.php">Gestion des utilisateurs</a>
		<a class="button" href="listSeance.php">listeSeance.php</a>
		<a class="button" href="listEvenement.php">listeEvenement.php</a>
		<a class="button" href="listTypeEvenement.php">listeTypeEvenement.php</a>
		<a class="button" href="gestionModules.php">Gestion des Modules</a>

        <a class="button" href="modifierMDP.php">Modifier Mot de passe</a>

	</div>

{% endblock %}
