{% extends "base.twig" %}

{% block css %}
<style>
    h2, p {
        text-align: center;
    }

    .select {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        max-width: 300px;
        margin: auto;
    }


</style>
{% endblock %}

{% block contenu %}
    <h2>Bienvenue, {{ user.getPrenom() }} {{ user.getNom() }} !</h2>
    <p>
        Sélectionnez un de ces boutons pour commencer:
    </p>

	<div class="select">

	    <a class="button" href="formAjouterEvenement.php">formAjouterEvenement.php</a>
	    <a class="button" href="formAjouterSeance.php">formAjouterSeance.php</a>

	</div>

{% endblock %}
